body {
	margin: 0;
	padding: 0;
	background: #efefef;
}

.logo {
	//position: relative;
	background: white;
	height: 50px;
	//width: 100%;
	padding-left: 20px;
	display: flex;
	align-items: center;
	font-family: Gilroy ExtraBold;
	text-transform: uppercase;
}

.container {
	width: 100%;
	//height: calc(100vh - 150px);
	margin-top: 10px;
}

.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.icon {
	min-width: 50px;
	padding: 10px;
	background: #904e95;
	text-align: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.input-field {
	width: 100%;
	padding: 10px;
	outline: none;
	font-family: Open Sans;
	font-size: 15px;
	border: 1px solid grey;
}

.btn {
	outline: none;
	width: 100%;
	font-family: Josefin Sans;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #904e95;
	height: 50px;
	border: none;
	cursor: pointer;
}

.error-message {
	background: white;
	padding: 1px 20px;
	margin-bottom: 10px;
	font-family: Open Sans;
	font-size: 15px;
	color: red;
}

.error-message .error-icon {
	font-size: 20px;
}

.widget-1 {
	margin-top: 15px;
	color: black;
	font-size: 15px;
}

.widget-1 a {
	text-decoration: none;
	font-family: Open Sans;
	color: #904e95;
}

.cna {
	font-family: Open Sans;
	font-size: 15px;
	padding: 5px;
}

.cna a {
	text-decoration: none;
	color: #e96443;
}

.footer {
	background: white;
	margin-top: 50px;
	width: 100%;
	padding: 10px 20px;
}

.footer p {
	font-family: Open Sans;
	font-size: 15px;
	text-align: left;
	color: rgba(0,0,0,0.6);
}

.footer a {
	text-decoration: none;
	color: #e96443;
}

.head {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}

/*.row {
	background: white;
	height: 35px;
}*/

.option-container {
	margin-bottom: 10px;
}

.option-container .heading {
	font-weight: bold;
	color: rgba(0,0,0,0.7);
}

.option-container .heading,select {
	font-family: Montserrat;
	font-size: 15px;
}

.option-container select {
	height: 50px;
	width: 100px;
	outline: none;
	background: white;
	padding: 0px 10px;
	margin-top: -10px;
}

form .permission {
	font-family: Open Sans;
	font-size: 13px;
}

form .permission a {
	text-decoration: none;
	color: #e96443;
}

.error {
	font-family: Open Sans;
	color: red;
	font-size: 13px;
}

.error i {
	font-size: 15px;
}